<% if(event) { %>
  <section class="hero">
    <div class="hero-body">
      <div class="columns">
        <div class="column is-6">
          <h1 class="title"><%= event.name %></h1>
          <p><%= event.dates.start.localDate %>, <%= event.dates.start.localTime %></p>
          <p>Promoter: <%= event.promoter.name.toLowerCase() %></p>
        </div>
        <div class="column is-6">
          <p>Venue: <a id="venueLink" data-url="<%= 'http://app.ticketmaster.com'+event._links.venues['0'].href.split('?')[0]+'?'+'apikey=sJdyvBFWmrZySkRDzJ2v0wNi2qtLb7pn&'+event._links.venues['0'].href.split('?')[1] %>"></a></p>
          <% if (locals.isLoggedIn) { %>
            <a class="addFavourite" href="/favourite/event/<%= locals.user.id %>/<%= event.id %>">Save to your favourites</a><br>
          <% } %>
          <a href="<%= event.url %>">View on TicketMaster</a>
        </div>
      </div>
    </div>
  </section>
  <section class="hero">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <img src="<%= event.images[0].url %>" alt="">
      </div>

    </div>
  </section>
  <section class="hero is-warning confirmedArtists">
    <div class="hero-body">
      <div class="columns">
        <div class="column is-6">
          <h1 class="title">Confirmed Artists</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="hero showArtists hidden">
    <div class="hero-body">
      <div class="columns">
        <% event._links.attractions.forEach(artist => { %>
          <div class="artistBox column is-3" id="<%= artist.href.split('?')[0].split('/')[artist.href.split('?')[0].split('/').length-1] %>" data-url="<%= 'http://app.ticketmaster.com'+artist.href.split('?')[0]+'?'+'apikey=sJdyvBFWmrZySkRDzJ2v0wNi2qtLb7pn&'+artist.href.split('?')[1] %>">

          </div>
        <% }); %>
      </div>
    </div>
  </section>
<% }else{ %>
  <h4>No event found</h4>
<% } %>

<script type="text/javascript">
  $(() => {
    $('.confirmedArtists').on('click', () => {
      $('.showArtists').slideToggle('fast');
    });

    // get all related artists
    const artistBoxes = $('.artistBox');
    for (var i = 0; i < artistBoxes.length; i++) {
      $
      .get($(artistBoxes[i]).attr('data-url'))
      .done(artist => {
        if (artist) {
          $(`<p>${artist.name}</p><a href="/artist/${artist.id}">View Artist Page</a>`).appendTo(`#${artist.id}`);
        } else {
          $(`<p>No artist found</p>`).appendTo(`#${artist.id}`);
        }
      });
    }

    // there's only one venue per event
    $
      .get($('#venueLink').attr('data-url'))
      .done(venue => {
        if (venue) {
          $('#venueLink').text(`${venue.name}`);
          $('#venueLink').attr('href', `/venue/${venue.id}`);
        } else {
          $('#venueLink').text('<p>No artist found</p>');
        }
      });
    // end of ajax jazz
  });
</script>

<%# const eventSchema = ({
  name: {type: String, trim: true},
  type: {type: String, trim: true},
  id: {type: String, trim: true},
  url: {type: String, trim: true},
  locale: {type: String, trim: true},
  images: [
    {
      ratio: {type: String, trim: true},
      url: {type: String, trim: true},
      width: {type: Number},
      height: {type: Number},
      fallback: {type: Boolean}
    }
  ],
  sales: {
    public: {
      startDateTime: {type: String, trim: true},
      startTBD: {type: Boolean},
      endDateTime: {type: String, trim: true}
    }
  },
  dates: {
    start: {
      localDate: {type: String, trim: true},
      localTime: {type: String, trim: true},
      dateTime: {type: String, trim: true},
      dateTBD: {type: Boolean},
      dateTBA: {type: Boolean},
      timeTBA: {type: Boolean},
      noSpecificTime: {type: Boolean}
    },
    timezone: {type: String, trim: true},
    status: { code: {type: String, trim: true} },
    spanMultipleDays: {type: Boolean}
  },
  promoter: {
    id: {type: String, trim: true},
    name: {type: String, trim: true},
    description: {type: String, trim: true}
  },
  _links: {
    self: { href: ['/discovery/v2/events/17uOv8G6G6-NfIT?', 'locale=en-us'] },
    attractions:
    [ { href: ['/discovery/v2/attractions/K8vZ917u0N0?', 'locale=en-us'] } ],
    venues: [ { href: ['/discovery/v2/venues/KovZ9177cI0?', 'locale=en-de'] } ]
  }
});%>
