<% if (venue) { %>
  <style>
     #map {
      height: 400px;
      width: 100%;
      background-color: #f5f5f5;
     }
  </style>
  <section class="hero">
    <div class="hero-body">
      <div class="columns">
        <div class="column is-4">
          <h1 class="title"><%= venue.name %></h1>
          <p><%= venue.city.name %>, <%= venue.country.name %>, <%=  %></p>
        </div>
        <div class="column is-4">
          <% if (locals.isLoggedIn) { %>
            <a class="addFavourite" href="/favourite/venue/<%= venue.id %>">Save to your favourites</a><br>
          <% } %>
          <a href="<%= venue.url %>">View on TicketMaster</a>
          <p class="queryString hidden"><%= venue.name %> <%= venue.country.name %> <%= venue.state.name %> <%= venue.postalCode %></p>
        </div>
        <div class="column is-4">
          <% if (venue.images) { %>
          <img src="<%= venue.images[0].url %>" alt="<%= venue.name %>">
          <% } else { %>
            <p>No images</p>
          <% } %>
        </div>
      </div>
    </div>
  </section>
  <div id="map"></div>

<% }else{ %>
  <h4>No venue found</h4>
<% } %>


<script type="text/javascript">
  $(() => {
    const queryString = $('.queryString').text().split(' ').join('+');
    console.log(queryString);
    $.get(`https://maps.googleapis.com/maps/api/geocode/json?address=${queryString}&key=AIzaSyBsaiBNOAIEePUXdsyZDtUeF8KiZknNWso`)
    .done(response => {
      let center = response.results[0].geometry.location;
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 6,
        center: {lat: parseFloat(center.lat), lng: parseFloat(center.lng)}
      });
      var marker = new google.maps.Marker({
        position: {lat: parseFloat(center.lat), lng: parseFloat(center.lng)},
        map: map
      });
    })
    .fail(err => {
      console.log(err);
    });
  });
</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwrqwTyJhA-4468kE238_4-QIjwMKGnzA">
</script>
