<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Welcome back <%= user.username %></h1>
      <h2 class="subtitle">Account page</h2>
    </div>
  </div>
</section>

<section class="hero is-warning changeAccount" data-id="<%= user._id %>">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Change account</h1>
    </div>
  </div>
</section>
<section class="hero is-warning formPanel hidden">
  <form action="/account/user/<%= user._id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <div class="field">
      <p class="control">
        <input class="input" type="text" name="username" placeholder="Username" value="<%= user.username %>"></input>
      </p>
    </div>

    <div class="field">
      <p class="control">
        <input class="input" type="email" name="email" placeholder="Email" value="<%= user.email %>"></input>
      </p>
    </div>

    <div class="field is-grouped">
      <p class="control">
        <button class="button is-primary" style="margin-bottom: 20px">Submit</button>
      </p>
    </div>
  </form>
  <hr>
  <form action="/account/user/<%= user._id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <div class="field">
      <div class="control deleteForm">
        <label class="checkbox">
          <input type="checkbox" required>
          Are you certain?
        </label>
      </div>
    </div>
    <div class="field is-grouped">
      <p class="control">
        <button class="button is-primary" style="margin-bottom: 20px">Delete Account</button>
      </p>
    </div>
  </form>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Saved Items</h1>
    </div>
  </div>
</section>

<section class="hero favsPanel">
  <div class="columns">
    <div class="column is-4">
      <div class="container favArtists is-multiline">
        <h1 class="title">Saved Artists</h1>
        <% if (locals.isLoggedIn) { %>
          <% user.favArtists.forEach(artist => { %>
            <p class="hidden artistUrl">https://app.ticketmaster.com/discovery/v2/attractions/<%= artist %>.json?apikey=sJdyvBFWmrZySkRDzJ2v0wNi2qtLb7pn</p>
          <% }); %>
        <% } %>
      </div>
    </div>
    <div class="column is-4">
      <div class="container favEvents is-multiline">
        <h1 class="title">Saved Events</h1>
        <% if (locals.isLoggedIn) { %>
          <% user.favEvents.forEach(event => { %>
            <p class="hidden eventUrl">https://app.ticketmaster.com/discovery/v2/events/<%= event %>.json?apikey=sJdyvBFWmrZySkRDzJ2v0wNi2qtLb7pn</p>
          <% }); %>
        <% } %>
      </div>
    </div>
    <div class="column is-4">
      <div class="container favVenues is-multiline">
        <h1 class="title">Saved Venues</h1>
        <% if (locals.isLoggedIn) { %>
          <% user.favVenues.forEach(venue => { %>
            <p class="hidden venueUrl">https://app.ticketmaster.com/discovery/v2/venues/<%= venue %>.json?apikey=sJdyvBFWmrZySkRDzJ2v0wNi2qtLb7pn</p>
          <% }); %>
        <% } %>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
  $(() => {
    function changeAccForm() {
        function clickTitleAcc() {
        $('.changeAccount').on('click', () => {
          $('.formPanel').slideToggle('fast');
          // $('.formPanel').toggleClass('hidden');
        });
      }

      const userId = $('.changeAccount').attr('data-id');
      $
      .get(`/account/user/${userId}`)
      .done(user => {
        clickTitleAcc('changeAccount','formPanel');
      });
    }

    function favourites() {
      const artistUrls = $('.artistUrl');
      for (var i = 0; i < artistUrls.length; i++) {
        // console.log($(artistUrls[i]).text());
        $
        .get($(artistUrls[i]).text())
        .done(artist => {
          $(`<p>${artist.name}</p>`).appendTo('.favArtists');
        });
      }
      const venueUrls = $('.venueUrl');
      for (var i = 0; i < venueUrls.length; i++) {
        // console.log($(venueUrls[i]).text());
        $
        .get($(venueUrls[i]).text())
        .done(venue => {
          $(`<p>${venue.name}</p>`).appendTo('.favVenues');
        });
      }
      const eventUrls = $('.eventUrl');
      for (var i = 0; i < eventUrls.length; i++) {
        // console.log($(eventUrls[i]).text());
        $
        .get($(eventUrls[i]).text())
        .done(event => {
          $(`<p>${event.name}</p>`).appendTo('.favEvents');
        });
      }
    }

    changeAccForm();
    favourites();
  });

</script>


<!-- <script type="text/javascript">
// was using this before I tried slideToggle, see above
// function xclickTitleAcc(origin, target) {
//   $(`.${origin}`).one('click', () => {
//     createListAcc(target);
//     $(`.${origin}`).one('click', function() {
//       $(`.${target}`).find('form').remove();
//       clickTitleAcc(origin, target);
//     });
//   });
// }
// <input type="hidden" name="_method" value="PUT">
// function createListAcc(target) {
//   let parentString = `<form action="/">
//
//     <div class="field">
//       <p class="control">
//         <input class="input" type="text" name="username" placeholder="Username" value="<%= user.username %>"></input>
//       </p>
//     </div>
//
//     <div class="field">
//       <p class="control">
//         <input class="input" type="email" name="email" placeholder="Email" value="<%= user.email %>"></input>
//       </p>
//     </div>
//
//     <div class="field">
//       <p class="control">
//         <input class="input" type="password" name="password" placeholder="Old password"></input>
//       </p>
//     </div>
//     <div class="field">
//       <p class="control">
//         <input class="input" type="password" name="newPassword" placeholder="New password"></input>
//       </p>
//     </div>
//     <div class="field">
//       <p class="control">
//         <input class="input" type="password" name="newPasswordConf" placeholder="Confirm new password"></input>
//       </p>
//     </div>
//     <div class="field is-grouped">
//       <p class="control">
//         <button class="button is-primary" style="margin-bottom: 20px">Submit</button>
//       </p>
//     </div>
//   </form>`;
//   $(parentString).appendTo(`.${target}`);
// }
</script> -->
