<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Welcome back <%= user.username %></h1>
      <h2 class="subtitle">Account page</h2>
    </div>
  </div>
</section>

<section class="hero is-warning changeAccount">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Change account</h1>
    </div>
  </div>
</section>
<section class="hero is-warning formPanel hidden">
  <form action="/account/user" method="post">
    <input type="hidden" name="_method" value="put">

    <div class="field">
      <p class="control">
        <input class="input" type="text" name="username" placeholder="Username" value="<%= user.username %>"></input>
      </p>
    </div>

    <div class="field">
      <p class="control">
        <input class="input" type="email" name="email" placeholder="Email" value="<%= user.email %>"></input>
      </p>
    </div>

    <div class="field is-grouped">
      <p class="control">
        <button class="button is-primary" style="margin-bottom: 20px">Submit</button>
      </p>
    </div>
  </form>
  <hr>
  <form action="/account/user" method="post">
    <input type="hidden" name="_method" value="delete">
    <div class="field">
      <div class="control deleteForm">
        <label class="checkbox">
          <input type="checkbox" required>
          Are you certain?
        </label>
      </div>
    </div>
    <div class="field is-grouped">
      <p class="control">
        <button class="button is-primary" style="margin-bottom: 20px">Delete Account</button>
      </p>
    </div>
  </form>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Saved Items</h1>
    </div>
  </div>
</section>

<section class="hero favsPanel">

  <div class="columns">
    <div class="column is-4">
      <div class="container favArtists is-multiline">
        <h1 class="title">Saved Artists</h1>
        <% if (locals.isLoggedIn) { %>
          <% user.favArtists.forEach(artist => { %>
            <p class="hidden artistUrl">https://app.ticketmaster.com/discovery/v2/attractions/<%= artist.tmId %>.json&quest;apikey=sJdyvBFWmrZySkRDzJ2v0wNi2qtLb7pn</p>
          <% }); %>
        <% } %>
      </div>
    </div>

    <div class="column is-4">
      <div class="container favEvents is-multiline">
        <h1 class="title">Saved Events</h1>
        <% if (locals.isLoggedIn) { %>
          <% user.favEvents.forEach(event => { %>
            <p class="hidden eventUrl">https://app.ticketmaster.com/discovery/v2/events/<%= event.tmId %>.json&quest;apikey=sJdyvBFWmrZySkRDzJ2v0wNi2qtLb7pn</p>
          <% }); %>
        <% } %>
      </div>
    </div>

    <div class="column is-4">
      <div class="container favVenues is-multiline">
        <h1 class="title">Saved Venues</h1>
        <% if (locals.isLoggedIn) { %>
          <% user.favVenues.forEach(venue => { %>
            <p class="hidden venueUrl">https://app.ticketmaster.com/discovery/v2/venues/<%= venue.tmId %>.json&quest;apikey=sJdyvBFWmrZySkRDzJ2v0wNi2qtLb7pn</p>
          <% }); %>
        <% } %>
      </div>
    </div>
  </div>

</section>


<script type="text/javascript">
  $(() => {
    function changeAccForm() {
        function clickTitleAcc() {
        $('.changeAccount').on('click', () => {
          $('.formPanel').slideToggle('fast');
          // $('.formPanel').toggleClass('hidden');
        });
      }
      $
      .get(`/account/user`)
      .done(user => {
        clickTitleAcc('changeAccount','formPanel');
      });
    } // end of account form function

    function favourites() {
      const artistUrls = $('.artistUrl');
      const venueUrls = $('.venueUrl');
      const eventUrls = $('.eventUrl');
      for (var i = 0; i < artistUrls.length; i++) {
        // console.log($(artistUrls[i]).text());
        $
        .get($(artistUrls[i]).text())
        .done(artist => {
          const favItem = `
          <h3 class="subtitle">${artist.name}</h3>
          <p><a href="${artist.url}">View on TicketMaster</a></p>
          <p><a href="/artist/${artist.id}">View page</a></p>
          <form>
            <input type="hidden" name="_method" value="delete">
            <a id="del${artist.id}" href="javascript:void(0)">Remove</a>
          </form>
          <br>`;
          $(favItem).appendTo('.favArtists');
          return artist; // <form action="/favourite/artist/${artist.id}" method="post">
        })
        .done(artist => {
          $(`#del${artist.id}`).on('click', function(e) {
            e.preventDefault();
            // console.log($(e.target).parent());
            // $(e.target).parent().submit();
            console.log(e.target, artist.id);
            
          });
        });
      }
      for (var i = 0; i < venueUrls.length; i++) {
        // console.log($(venueUrls[i]).text());
        $
        .get($(venueUrls[i]).text())
        .done(venue => {
          const favItem = `
          <h3 class="subtitle">${venue.name}</h3>
          <p><a href="${venue.url}">View on TicketMaster</a></p>
          <p><a href="/venue/${venue.id}">View page</a></p>
          <form action="/favourite/venue/${venue.id}" method="post">
            <input type="hidden" name="_method" value="delete">
            <a id="del${venue.id}">Remove</a>
          </form>
          <br>`;
          $(favItem).appendTo('.favVenues');
          return venue;
        })
        .done(venue => {
          $(`#del${venue.id}`).on('click', function(e) {
            e.preventDefault();
            // console.log($(e.target).parent());
            $(e.target).parent().submit();
          });
        });
      }
      for (var i = 0; i < eventUrls.length; i++) {
        // console.log($(eventUrls[i]).text());
        $
        .get($(eventUrls[i]).text())
        .done(event => {
          const favItem = `
          <h3 class="subtitle">${event.name}</h3>
          <p><a href="${event.url}">View on TicketMaster</a></p>
          <p><a href="/event/${event.id}">View page</a></p>
          <form action="/favourite/event/${event.id}" method="post">
            <input type="hidden" name="_method" value="delete">
            <a id="del${event.id}">Remove</a>
          </form>
          <br>`;
          $(favItem).appendTo('.favEvents');
          return event;
        })
        .done(event => {
          $(`#del${event.id}`).on('click', function(e) {
            e.preventDefault();
            // console.log($(e.target).parent());
            $(e.target).parent().submit();
          });
        });
      }
    } // end of favourites function

    changeAccForm();
    favourites();
  });

</script>


<!-- <script type="text/javascript">
// was using this before I tried slideToggle, see above
// function xclickTitleAcc(origin, target) {
//   $(`.${origin}`).one('click', () => {
//     createListAcc(target);
//     $(`.${origin}`).one('click', function() {
//       $(`.${target}`).find('form').remove();
//       clickTitleAcc(origin, target);
//     });
//   });
// }
// <input type="hidden" name="_method" value="PUT">
// function createListAcc(target) {
//   let parentString = `<form action="/">
//
//     <div class="field">
//       <p class="control">
//         <input class="input" type="text" name="username" placeholder="Username" value="<%= user.username %>"></input>
//       </p>
//     </div>
//
//     <div class="field">
//       <p class="control">
//         <input class="input" type="email" name="email" placeholder="Email" value="<%= user.email %>"></input>
//       </p>
//     </div>
//
//     <div class="field">
//       <p class="control">
//         <input class="input" type="password" name="password" placeholder="Old password"></input>
//       </p>
//     </div>
//     <div class="field">
//       <p class="control">
//         <input class="input" type="password" name="newPassword" placeholder="New password"></input>
//       </p>
//     </div>
//     <div class="field">
//       <p class="control">
//         <input class="input" type="password" name="newPasswordConf" placeholder="Confirm new password"></input>
//       </p>
//     </div>
//     <div class="field is-grouped">
//       <p class="control">
//         <button class="button is-primary" style="margin-bottom: 20px">Submit</button>
//       </p>
//     </div>
//   </form>`;
//   $(parentString).appendTo(`.${target}`);
// }
</script> -->
